spring:
  application:
    name: securetx

  datasource:
    url: ${SPRING_DATASOURCE_URL}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        default_schema: securetx
        show_sql: false

server:
  port: 8080

jwt:
  secret: ${JWT_SECRET}
  expiration-seconds: 3600
